<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="text-center">404 Error</h1>
    <img class="" src="/assets/images/mortySweater404.png" alt="morty 404 error">
    <a href="/">← Back To Home</a>
  </div>
</div>
