<div class="jumbotron jumbotron-fluid">
  <div id="articles" class="container">
    <h1 class="greetingHeader">Holiday &#38; Lights &#38; Throwdown</h1>
    <p class="ml-4 greetingText">Have you Ever wanted to keep track of all the awesome holiday displays and crafts? Well now you can with <strong>Holiday Lights Throwdown!</strong></p>
  </div>
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
    {{!-- Injecting card blocks --}}
      {{#each result}}
        {{#unless saved}}
          {{> clippedDir/article-block }}
        {{/unless}}
      {{/each}}  
    </div>
  </div>