
    <div class="resultsBG">
      <div class="row">
        <div class="col-12">
          <h2 class="cardTitle">{{title}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="cardText">
            {{description}}
          </p>
        </div>
          <div class="row">
            <div class="col-12"></div>
              <button type="button" class="btnGrp btn btn-success deleteNoteBtn" data-id="{{_id}}">X</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   



