@font-face {
    font-family: "holiday";
    src: url("../fonts/MiraculousChristmas.woff2") format("woff2");
}

@font-face {
    font-family: "Main";
    src: url("../fonts/Spring_Holiday.woff2") format("woff2");
}

body {
    font-family: 'Main', monospace !important;
}

.jumbotron {
    background-image: url("../images/snowBG.gif");
    background-size: cover;
    min-height: 26vw;
    background-position: center;
    background-attachment: fixed;
    color: white;
    
  }

.greetingHeader {
    font-family: "Holiday", monospace;
    font-size: 7vw;
}

.greetingText {
    font-family: 'Main', monospace;
    font-size: 2.5vw;
    font-weight: bold;
}

.resultsBG {
    background-color: rgba(178, 34, 34, 0.9);
    border-radius: 10px;
    padding: 1%;
    width: 85%;
    margin: 1%;
}

.cardTitle {
    color: white;
    font-family: "Holiday", monospace;
}

.clippedImg {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.cardText {
    color: white;
    /* font-size: 2.5vw */
}

.btnGrp {
    /* margin-top: 1%; */
    /* margin-bottom: 1%; */
    margin: 1% auto 1% auto;
    font-weight: bold;
}

.cardLink {
    font-weight: bold;
}

.scrape-new, .clear {
    color: white !important;
    font-weight: bold;
}